{% extends 'base.html' %}

<!--{% block header %}-->
<!--&lt;!&ndash;<h1 style="text-align: center">{% block title %} Sample Index {% endblock %}</h1>&ndash;&gt;-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--&lt;!&ndash;<p>This starter code project is built around a 'video_game.py' module. Its view files live in 'templates/video_game'. It's recommended you build your own project module and template folder for your contributions to the project.</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p>This page extends the "base.html" file and inserts its various "blocks" (header, title and content) into the locations laid out for those blocks.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>This behaves similar to the '_Layout' feature in ASP.NET and allows you to easily keep a consistent theme across many pages and reuse elements like navbars.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>It can also display variables and information that is passed in to the view from the corresponding 'index' Blueprint action from the 'video_game.py' module by calling the variable with double curly braces</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>This following line is the 'message' variable from the index action:</p>&ndash;&gt;-->

<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--&lt;!&ndash;<p>You can even easily utilize logic in these views, similar to razor! Examine the code in 'video_game/index.html' to see how this line is being generated:</p>&ndash;&gt;-->
<!--{% for letter in word %}-->
<!--{% if letter == "o" %}-->
<!--<span> {{ letter.capitalize() }} </span>-->
<!--{% else %}-->
<!--<span> {{ letter }} </span>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--&lt;!&ndash;<p>(Always remember to close off your ifs and your loops!)</p>&ndash;&gt;-->


<p><a href="{{ url_for('video_game.chart_main') }}"> Chart 2013 - present </a></p>
<p><a href="{{ url_for('video_game.chart_details') }}"> chart detailsview </a></p>
<p><a href="{{ url_for('video_game.search') }}"> search </a></p>
<p><a href="{{ url_for('video_game.yearly') }}"> by year </a></p>
<p><a href="{{ url_for('video_game.top_console') }}"> top console </a></p>
{% endblock %}


