{% extends 'base.html' %}

{% block content %}
	<div>
		<canvas id="canvas"></canvas>
	</div>
   <button id="randomizeData">Randomize Data</button>




<script>
let labels = ["na","eu","jp","other"];
let data_global = [5,6,7,8];
let data_na = [5,6,7,8];
let data_eu = [5,6,7,8];
let data_other = [5,6,7,8];
let data_jp = [5,6,7,8];
	{% for item in table_data %}
  		labels.push('{{ item.name }}');
  		data_global.push({{ item.globalSales }});
  		data_na.push({{ item.naSales }});
  		data_eu.push({{ item.euSales }});
  		data_jp.push({{ item.jpSales }});
  		data_other.push({{ item.otherSales }});
	{% endfor %}

   
    
		var barChartData = {
			labels: labels,
			datasets: [{
				label: 'NA',
				backgroundColor: window.chartColors.red,
				data: data_na
			}, {
				label: 'EU',
				backgroundColor: window.chartColors.blue,
				data: data_eu
			}, {
				label: 'JP',
				backgroundColor: window.chartColors.blue,
				data: data_jp
			},{
				label: 'Other',
				backgroundColor: window.chartColors.green,
				data: data_other
			}]

		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: 'Chart.js Bar Chart - Stacked'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			barChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myBar.update();
		});
	




</script>
{% endblock %}

