<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
	
	<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>
<body>
	<div class="container">
		<header class="header">
			<img src="../static/assets/logo.png" alt=" logo" class="logo">

			<form action="#" class="search">
				<input type="text" class="search__input" placeholder="Search games">
				<button class="search__button">
					<svg class="search__icon">
						<use xlink:href="img/sprite.svg#icon-magnifying-glass"></use>
					</svg>
				</button>
			</form>
		</header>
		<div class="content">
			<nav class="sidebar">
				<ul class="side-nav">
					<li class="side-nav__item side-nav__item--active">
						<a href="#" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href="img/sprite.svg#icon-home"></use>
							</svg>
							<span>Games</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="#" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Placeholder</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="#" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Placeholder</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="#" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Placeholder</span>
						</a>
					</li>
				</ul>

				<div class="legal">
					&copy; 2020 by M&P while at devCodeCamp. All rights reserved.
				</div>
			</nav>
			<main class="game-view">
				<div class="gallery">
					<figure class="gallery__item">
						<img src="../static/assets/game-1.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
						<img src="../static/assets/game-2.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
						<img src="../static/assets/game-3.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-4.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
						<img src="../static/assets/game-5.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
						<img src="../static/assets/game-6.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-7.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
						<img src="../static/assets/game-8.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
						<img src="../static/assets/game-9.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-10.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
						<img src="../static/assets/game-11.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
						<img src="../static/assets/game-12.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
						<img src="../static/assets/game-13.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
					</figure>
				</div>

				<div class="overview">
					<h1 class="overview__heading">
						{% block header %}Game Over(view){% endblock %}
					</h1>

					<div class="overview__stats">
						<svg class="overview__icon-stats">
							<use xlink:href="img/sprite.svg#icon-location-pin"></use>
						</svg>
						<button class="btn-inline">Details</button>
					</div>

					<div class="overview__rating">
						<div class="overview__rating-average">Rating</div>
						<div class="overview__rating-count">Global Sales</div>
					</div>
				</div>

				<div class="detail">
					<div class="description">
						
						<p class="paragraph">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
						</p>
						<p class="paragraph">
							Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
						</p>
						{% block content %}{% endblock %}
						<ul class="list">
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
						</ul>
					</div>
				</div>
			</main>
		</div>
	</div>














	<div class="base-wrapper">
		<div class="parallax-container">
			<div class="wrapper">
				<img class="background__image" src="../static/assets/background.png">
				<img class="middle__image" src="../static/assets/midground.png" />
				<div class="header">
					<img class="foreground__image" src="../static/assets/mario-jump.png" />
					<h1 class="header__text-box">Video Game Database</h1>
					<img class="foreground__image right" src="../static/assets/luigi-jump.png" />
				</div>
			</div>
		</div>
	</div>

	<script src="../static/script.js"></script>
</body>

</html>