<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
	
	<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>
<body>
	<div class="container">
		<header class="header">
			<img src="../static/assets/logo.png" alt=" logo" class="logo">
			<form action="/search" value="" class="search">
				<input name="search" id="search" type="text" class="search__input" value="{{ '' }}" placeholder="Search games">
				<button class="search__button">
					<svg class="search__icon">
						<use xlink:href="static/assets/sprite.svg#icon-magnifying-glass"></use>
					</svg>
				</button>
			</form>
		</header>
		<div class="content">
			<nav class="sidebar">
				<ul class="side-nav">
					<li class="side-nav__item side-nav__item--active">
						<a href="/" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href="static/assets/sprite.svg#icon-home"></use>
							</svg>
							<span>M & P<br>Athenaeum</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="{{ url_for('video_game.top_console') }}" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href="img/"></use>
							</svg>
							<span>Top Consoles</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="{{ url_for('video_game.chart_main') }}" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Sales Trends</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="{{ url_for('video_game.yearly') }}" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Yearly Releases</span>
						</a>
					</li>
					<li class="side-nav__item">
						<a href="#" class="side-nav__link">
							<svg class="side-nav__icon">
								<use xlink:href=""></use>
							</svg>
							<span>Placeholder</span>
						</a>
					</li>
					
				</ul>

				<div class="legal">
					&copy; 2020 by M&P while attending devCodeCamp.<br>Art by Ashley Browning.<br>All rights reserved.
				</div>
			</nav>
			<main class="game-view">
				<div class="gallery">
					<figure class="gallery__item">
						<img src="../static/assets/game-1.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
						<img src="../static/assets/game-2.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
						<img src="../static/assets/game-16.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-3.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
						<img src="../static/assets/game-4.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
						<img src="../static/assets/game-15.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides2 fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-5.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
						<img src="../static/assets/game-6.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
						<img src="../static/assets/game-14.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides3 fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-7.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
						<img src="../static/assets/game-8.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
						<img src="../static/assets/game-13.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides4 fade">
					</figure>
					<figure class="gallery__item">
						<img src="../static/assets/game-9.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides5 fade">
						<img src="../static/assets/game-10.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides5 fade">
						<img src="../static/assets/game-11.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides5 fade">
						<img src="../static/assets/game-12.jpg" alt="Photo of game 1" class="gallery__photo--slides mySlides5 fade">
					</figure>
				</div>

				<div class="overview">
					<h1 class="overview__heading">
						{% block header %}The Anthenaeum{% endblock %}
					</h1>

					<div class="overview__stats">
						<svg class="overview__icon-stats">
							<use xlink:href="img/sprite.svg#icon-location-pin"></use>
						</svg>
						<button action="/chartdetails" class="btn-inline">Details</button>
					</div>

					<div class="overview__rating">
						<div class="overview__rating-average">Rating</div>
						<div class="overview__rating-count">Global Sales</div>
					</div>
				</div>

				<div class="detail">
					<div class="description">
						
						<p class="paragraph">
							Godfather ipsum dolor sit amet. Just when I thought I was out... they pull me back in. My father's name was Antonio Andolini... and this is for you. Sonny, please don't do anything. Please don't do anything. Do me this favor. I won't forget it. Ask your friends in the neighborhood about me. They'll tell you I know how to return a favor. The hotel, the casino. The Corleone Family wants to buy you out.						</p>
						<p class="paragraph">
							When they come... they come at what you love. Michael, you never told me you knew Johnny Fontane! My father is no different than any powerful man, any man with power, like a president or senator. My father taught me many things here - he taught me in this room. He taught me: keep your friends close, but your enemies closer.						</p>
						{% block content %}{% endblock %}
						<ul class="list">
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
							<li class="list__item"></li>
						</ul>
					</div>
				</div>
			</main>
		</div>
	</div>














	<div class="base-wrapper">
		<div class="parallax-container">
			<div class="wrapper">
				<img class="background__image" src="../static/assets/background.png">
				<img class="middle__image" src="../static/assets/midground.png" />
				<div class="header">
					<img class="foreground__image" src="../static/assets/mario-pole.png" />
					<h1 class="header__text-box">Video Game Database</h1>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="../static/script.js"></script>
</body>

</html>