<!-- let labels = [];-->
<!-- let data = [];-->
<!-- let dataUS = [];-->
<!-- {% for item in table_data %}-->
<!-- 	labels.push('{{ item.name }}');-->
<!-- 	dataUS.push({{ item.naSales }});-->
<!-- 	data.push({{ item.globalSales }});-->
<!-- {% endfor %}-->

<!--  let ctx = document.getElementById('myChart').getContext('2d');-->
<!--  let myChart = new Chart(ctx,{-->
<!--      type: 'horizontalBar',-->
<!--      data: {-->
<!--       labels: labels,-->
<!--       datasets: [{-->
<!--          backgroundColor: 'rgb(129, 198, 2228)',-->
<!--          borderColor: 'rgb(0, 150, 215)',-->
<!--          data: data-->
<!--       }]-->
<!--       datasetsUS: [{-->
<!--       	backgroundColor: 'rgb(129, 198, 2228)',-->
<!--          borderColor: 'rgb(0, 150, 215)',-->
<!--          data: dataUS-->
<!--    },-->
<!--    options: {-->
<!--       responsive: 'true',-->
<!--    }-->
<!--  });-->
<!--  myChart.canvas.parentNode.style.height = '400px';-->
<!-- myChart.canvas.parentNode.style.width = '1000px';-->